:root {
    --backgroundColor: #ffffff;
    --textColor: #010001;
    --secondColor: #7f5df6;
    --secondTextColor: #010001;
}

body {
    background-color: var(--backgroundColor);
}

section {
    max-width: 900px;
    margin: auto;
    border: 2px solid var(--secondColor);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: var(--secondTextColor);
}

.main h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#start {
    margin-bottom: 50px;
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    color: var(--textColor);
    padding: 15px;
}

.answer {
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
    border-radius: 5px;
    font-size: 18px;
    /* font-weight: 700; */
    color: var(--textColor);
    padding: 5px;
    margin: 5px;
}

.answer:hover, #start:hover, .form button:hover {
    opacity: 0.7;
}

.main-question {
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.main-question h1 {
    font-size: 30px;
}

.end-quiz{
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}


.result {
    font-size: 35px;
    margin-top: 20px;
    border-top: 3px solid var(--secondColor);
    width: 100%;
    padding: 10px;
}

.form{
    margin: 10px 0;
}

.form label {
    padding-right: 5px;
}

.form button {
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
    border-radius: 5px;
    margin-left: 10px;
    color: var(--textColor);
    
}

.form input:focus{
    border-color: var(--secondColor)
}

.btnHS{
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
    border-radius: 5px;
    margin-left: 10px;
    color: var(--textColor);
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
}